@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Josefin+Sans&family=Kanit&family=Poppins:wght@500&family=Roboto+Mono&family=Space+Grotesk&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    text-align: center;
    background: rgb(174, 238, 238);
    background: linear-gradient(90deg, rgba(174, 238, 238, 1) 17%, rgba(15, 200, 95, 0.9725140056022409) 79%);
}

/* .task1 {
    background-color: #782525;
}

.task2 {
    background-color: #07d0eb;
}

.task3 {
    background-color: #e60cf2;
}

.task4 {
    background-color: #ea0989;
}

.task5 {
    background-color: #76f005;
} */

.task1,
.task2,
.task3,
.task4,
.task5 {
    padding: 10px;
}
button{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

button:hover{
    color: white;
    background-color: #0455ea;
}